.hero-section {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    height: 96vh;
    width: 48vw;
    position: fixed;
    z-index: 40;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 20;
  }
  
  .name-title {
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
    font-weight: 400;
  }
  
  .nav-links {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .nav-link {
    font-size: 1rem;
    color: #ffffff;
    position: relative;
    justify-content: right;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  
  .download-resume {
    color: #ffffff;
    transition: background-color 0.3s ease;
  }
  
  .intro-text {
    margin-top: 4rem;
    font-family: "Manrope", sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    text-indent: 8rem;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.3;
    color: rgba(255, 255, 255);
  }

  @media (max-width: 768px) {
    .left-section {
      padding: 1rem;
    }
  }

  .project-name {
    display: flex;
    font-family: "Lekton", monospace;
    font-size: 14px;
    font-weight: 300;
    flex-direction: column;
    gap: 6px;
    opacity: 100;
  }

  .project-type {
    display: flex;
    flex-direction: column;
    font-family: "Lekton", monospace;
    font-weight: 100;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    gap: 6px;
  }

  .project-details {
    display: flex;
    flex-direction: row;
    gap: 6rem;
  }

  .group-2 {
    display: flex;
    flex-direction: row;
    gap: 8rem;
  }

  .projects {
    font-size: 14px;
    display: flex;
    font-weight: 200;
    flex-direction: row;
    justify-content: space-between;
  }

  .location {
    font-size: 14px;
    font-weight: 200; 
  }

  .time {
    width: 135px;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
  }

  .location-wrapper {
    display: flex;
    flex-direction: row;
    gap: 6rem;
  }

  .say {
    font-size: 12px;
    font-weight: 100;
    opacity: 60%;
  }