@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&display=swap');
@import 'locomotive-scroll/dist/locomotive-scroll.css';

body {
  font-family: "Lekton", monospace;
    color: white;
    margin: 0;
    max-height: 100vh;
    position: relative;
  }
  
  .App {
    position: relative;
    overflow: hidden;
  }

.App {
  text-align: center;
}

/* Add any additional styles you need */