@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Lato:wght@100;300;400;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0;
    max-height: 100vh;
    overflow-y: scroll;
    position: relative;
  }
  
  .App {
    position: relative;
    overflow: hidden;
  }